/* base css properties */

html {
    scroll-behavior: smooth;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    margin: 0 auto;
}

header .container {
    padding-top: 10px;
}

.nav-social-links {
    display: none;
}

.nav-link {
    color: #303030cc;
    font-weight: 400;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: #303030;
}

.nav-contact__img {
    margin-top: 3px;
}

.navbar-second {
    display: none;
}

#barCloseBtn {
    display: none;
    animation: closeBtn 0.2s ease;
    -webkit-animation: closeBtn 0.2s ease;
    position: absolute;
    top: 30px;
    right: 30px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
}

.main-text-side {
    position: relative;
}

.main-title {
    color: #303030;
    font-size: 53px;
    line-height: 60px;
}

.main-subtext {
    color: #303030;
    width: 490px;
}

.main .main-text__dot {
    width: 8px;
    height: 8px;
    background-color: #303030;
    display: inline-block;
    margin-left: 0px;
}
.main-more-btn {
    background-color: #fabe0a;
}

.main-image {
    position: relative;
}

.main-img {
    width: 500px;
    position: absolute;
    top: 80px;
    right: 20px;
    transform: rotate(15deg);
    display: none;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}

.main-social-links {
    position: absolute;
    bottom: -120px;
}

.main-social-facebook {
    width: 10px;
}

.main-social-telegram {
    width: 20px;
}

.main-social-instagram {
    width: 20px;
}

.main-img.first {
    display: inline-block;
    width: 450px;
    top: 27px;
    right: -20px;
    animation: open 0.2s ease;
    -webkit-animation: open 0.2s ease;
}

.main-img.second {
    width: 420px;
    right: -40px;
    top: 80px;
    display: inline-block;
    animation: open 0.2s ease;
}

.main-img.third {
    display: inline-block;
    width: 450px;
    top: 27px;
    right: -20px;
    animation: open 0.2s ease;
    -webkit-animation: open 0.2s ease;
}

.main-img.four {
    width: 420px;
    right: -40px;
    top: 80px;
    display: inline-block;
    animation: open 0.2s ease;
}

.main-line {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    border: 2px solid #EFEFEF;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    transform: rotate(-15deg);
    position: relative;
    right: 110px;
    top: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-line-break-1 {
    width: 230px;
    height: 110px;
    background-color: #fff;
    position: absolute;
    bottom: -40px;
    right: 50px;
    transform: rotate(15deg);
}

.main-line-break-2 {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    right: 50px;
    transform: rotate(15deg);
}

.main-image__btn-circle {
    background-color: #05285a;
    box-shadow: 0px 0px 0px 5px #fabe0a54;
}

.main-btn-1 {
    position: absolute;
    transform: rotate(15deg);
    top: 85px;
    right: 465px;
}

.main-btn-2 {
    position: absolute;
    transform: rotate(15deg);
    top: 200px;
    right: 510px;
}

.main-btn-3 {
    position: absolute;
    transform: rotate(15deg);
    top: 320px;
    right: 496px;
}

.main-btn-4 {
    position: absolute;
    transform: rotate(15deg);
    top: 430px;
    right: 417px;
}

.main-hidden-image {
    display: none;
}

.main-image__btn.active span {
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 0px 10px #fabe0aff;
    opacity: 0.9;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    animation: open 0.2s ease;
    -webkit-animation: open 0.2s ease;
}

.main-btn-1.active {
    right: 464px;
}

.main-btn-2.active {
    right: 504px;
}

.main-btn-3.active {
    right: 487px;
}

.main-btn-4.active {
    right: 404px;
}

.main-image__btn.active p {
    font-size: 20px;
    color: #303030;
    font-weight: 700;
    animation: open 0.2s ease;
}

.swiper-container-2 {
    height: 480px !important;
}

.swiper-container-2 img:nth-child(1n) {
    height: 340px;
    width: 400px;
    object-position: center;
}

.swiper-container-2 img:nth-child(3n) {
    width: 350px;
    height: 250px;
}

.swiper-container-2 img:nth-child(4n) {
    width: 340px;
    height: 250px;
}

.swiper-container-2 img {
    width: 420px;
    height: 330px;
    margin: 0 auto;
}

.swiper-wrapper-2 {
    height: 450px;
}

.company-title {
    color: #303030;
}

.company-text {
    width: 450px;
    font-size: 16px;
}

.company-text span {
    margin-left: 47px;
}

.company-item img {
    width: 500px;
    height: auto;
    margin-left: 20px;
    padding-bottom: 50px;
}



.catalogue-list.active {
    display: grid;
    animation: open 0.2s ease;
}

.catalogue-list {
    display: none;
    margin: 0 auto;
}

.catalogue-item {
    position: relative;
}

.catalogue-item:hover .catalogue-img {
    filter: blur(10px);
    transition: 0.2s;
}

.catalogue-item:hover .catalogue-text {
    transition: 0.2s;
    filter: blur(8px);
}

.catalogue-item-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 80%;
    height: 40px;
    transition: 0.4s;
    overflow: hidden;
    box-shadow: 0 1px 55px rgba(0,0,0,.1);
    color: #303030;
    border-radius: 12px;
    opacity: 0;
}

.catalogue-item:hover .catalogue-item-content {
    width: 110%;
    height: 105%;
    bottom: 0px;
    left: 0px;
    background-color: rgba(245, 245, 245, .90); 
    opacity: 1;
}

.catalogue-title {
    color: #303030;
}

.catalogue-text {
    color: #303030;
    font-size: 17px;
    font-weight: 600;
}

.catalogue-img {
    width: 270px;
}

.catalogue-slider-line {
    width: 200px;
    height: 650px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 250px;
    right: -100px;  
}

.catalogue-btn-0 {
    position: absolute;
    top: 60px;
    right: 155px;
}

.catalogue-btn-0.active {
    right: 153.4px;
}

.catalogue-btn-1 {
    position: absolute;
    top: 150px;
    right: 178px;
}

.catalogue-btn-1.active {
    right: 177px;
}

.catalogue-btn-2 {
    position: absolute;
    top: 240px;
    right: 190px;
}

.catalogue-btn-2.active {
    right: 187px;
}

.catalogue-btn-3 {
    position: absolute;
    top: 340px;
    right: 192px;
}

.catalogue-btn-3.active {
    right: 188px;
}

.catalogue-btn-5 {
    position: absolute;
    top: 450px;
    right: 183px;
}

.catalogue-btn-5.active {
    right: 179px;
}

.catalogue-btn-6 {
    position: absolute;
    top: 550px;
    right: 160px;
}

.catalogue-btn-6.active {
    right: 156px;
}

.catalogue-image__btn-circle {
    background-color: #05285a;
    box-shadow: 0px 0px 0px 5px #fabe0a;
}

.catalogue-image__btn.active p{
    font-size: 20px;
    color: #303030;
    font-weight: 600;
    animation: open 0.2s ease;
}

.catalogue-image__btn.active span {
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 0px 10px #fabe0a;
    opacity: 0.9;
    animation: open 0.2s ease;
    -webkit-animation: open 0.2s ease;
}

.catalogue-order-link {
    background-color: #fabe0a;
}

.catalogue-select-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    display: none;
}

.catalogue-select-wrapper.active {
    display: block;
}


.catalogue-select-place {
    position: relative;
}

.catalogue-select-content {
    width: 350px;
    position: absolute;
    top: 67p;
    left: 50%;
    transform: translateX(-50%);
}  

.catalogue-select-header {
    border: 1px solid #fabe0a;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    display: none;
}

.catalogue-selector-text {
    padding: 10px 25px;
    color: #303030;
    position: relative;
}

.catalogue-selector-text::after {
    content: '';
    background-image: url('../../images/next.svg');
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 30px;
    top: 17px;
    transition: 0.2s;
}

.catalogue-selector-text:hover:after {
    right: 25px;
}

.catalogue-selector-text.active::after{
    transform: rotate(90deg);
}

.catalogue-selector-subtext {
    color: #303030fa;
}

.catalogue-select-list {
    border: 1px solid #fabe0a;
    padding: 15px 0px;
    position: absolute;
    width: 350px;
    display: none;
    background-color: #fff;
    animation: catalogueSelector 1s ease delay forwards;
}

.catalogue-select-list.active {
    display: block;
    animation: catalogueSelector 0.7s ease forwards;
}

.catalogue-select-list.remove {
    display: none;
    animation: catalogueSelectorClose 0.7s ease backwards;
}

.catalogue-select-list li {
    padding: 10px 30px;
}

.catalogue-select-list li:hover {
    background-color: #F1F1F1;
}

.catalogue-select-list p {
    border-bottom: 0.5px solid #bbb;
    width: 40px;
    transition: 0.4s;
    padding-bottom: 5px;
}

.catalogue-select-list li:hover p.first {
    width: 70px;
}

.catalogue-select-list li:hover p.peregruz {
    width: 95px;
}

.catalogue-select-list li:hover p.buld {
    width: 93px;
}

.catalogue-select-list li:hover p.eksa {
    width: 100px;
}

.catalogue-select-list li:hover p.comb {
    width: 80px;
}

.catalogue-select-list li:hover p.kat {
    width: 50px;
}

.order {
    background-color: #05285a;
}

.order-title {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}

.order-list {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.order-item {
    width: 220px;
    position: relative;
}

.order-item::after {
    content: '';
    background-image: url('../../images/right.png');
    width: 18px;
    height: 18px;
    position: absolute;
    background-repeat: no-repeat;
    object-fit: cover;
    right: 0px;
    top: 25px;
    transition: 0.2s;
}

.order-item:hover:after {
    right: -5px;
}

.order-item:nth-child(6n)::after {
    display: none;
}

.order-link {
    width: 200px;
    height: 150px;
    position: relative;
}

.order-img {
    width: 70px;
}

.order-item:nth-child(2n) img {
    width: 60px;
} 

.order-item:nth-child(4n) img {
    width: 65px;
} 

.order-text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}

.why-list {
    margin-left: 40px;
}

.why-title {
    color: #303030;
}

.why-text {
    width: 450px;
    font-size: 16px;
    color: #303030;
}

.why-text span {
    margin-left: 47px;
}

.why-img {
    width: 500px;
    object-fit: cover;
    margin-right: 50px;
}

.why-item {
    width: 235px;
    border: 1px solid #7b6b6b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    padding: 25px 15px 15px 20px;
}

.why-item span {
    width: 65px;
    height: 60px;
    background-color: #fff;
    position: absolute;
    top: -35px;
    left: 30px;
}

.why-element-img {
    object-fit: cover;
    width: 45px;
    position: absolute;
    z-index: 1;
    top: -32px;
    left: 42px;
}

.why-item .why-element-img.second {
    width: 30px;
    left: 49px;
    top: -27;
}

.why-item .why-element-img.third {
    width: 39px;
    left: 43.5px;
    top: -27;
}

.why-item .why-element-img.fourth {
    width: 39px;
    left: 44.5px;
    top: -15;
}

.why-text {
    font-size: 18px;
    color: #303030;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.why-subtext {
    font-size: 15px;
    color: #303030;
    line-height: 18px;
}

.brend-title {
    color: #303030;
}

.swiper-container  {
    width: 850px !important;
}

.swiper-wrapper {
    width: 800px;
    height: 170px;
}

.swiper-slide {
    width: 200px !important;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    padding: 0px 25px;
}

.swiper-wrapper .unnamed {
    width: 120px !important;
}

.swiper-wrapper .yuchai {
    width: 150px !important;
}

.swiper-pagination-bullet-active {
    background-color: #303030;
}

.swiper-button-prev::after {
    fill: black;
}

.questions form {
    background-color: #05285a;
}

.questions form input {
    border-bottom: 0.5px solid #fafafa;
}

.questions-form-link {
    background-color: #fabe0a;
}

.questions-img {
    width: 900px;
}

.contact-list{
    margin-right: 100px;
}

.contact-title {
    color: #303030;
}

.contact-map {
    width: 480px;
    height: 280px;
}

.contact-social-links {
    margin-top: 70px;
}

.contact-social__facebook img:nth-child(1n) {
    width: 10px;
}

.contact-social__facebook:nth-child(2n) img {
    width: 18px !important;
}

.contact-social__facebook:nth-child(3n) img {
    width: 18px;
}

.footer {
    background-color: #05285a;
}

.contact-form-link {
    background-color: #fabe0a;
}

.catalogue .second {
    display: none;
} 

.catalogue .third {
    display: none;
} 


@keyframes slideUp {
    0% {
        top: -60px;
        opacity: 1;
    }
    100% {
        top: -500px;
        opacity: 0;
    }
}

@keyframes catalogueSelector {
    0% {
        opacity: 0;
        top: -300px;
    }
    100% {
        opacity: 1;
        top: 39px;
    }
}

@keyframes catalogueSelectorClose {
    0% {
        opacity: 1;
        top: 31px;
    }
    100% {
        opacity: 0;
        top: -300px;
    }
}



@keyframes slidDown {
    0% {
        top: -500px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: -60px;
    }
}

@keyframes closeBtn {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(
    } 50% {
        transform: rotate(90degdeg);
        -webkit-transform: rotate(90degdeg);
        -moz-transform: rotate(90degdeg);
        -ms-transform: rotate(90degdeg);
        -o-transform: rotate(90degdeg);
    }
    100% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


