/* responsive css properties */

@media (max-width: 1540px) {
    .container {
        width: 1320px;
    }
    
    .order-item {
        width: 200px;
    }
    
    .order-img {
        width: 50px;
    }
    
    .order-item:nth-child(2n) img {
        width: 40px;
    } 
    
    .order-item:nth-child(4n) img {
        width: 45px;
    } 
    
    .catalogue-list {
        margin-left: 70px;
    }
    
}

@media (max-width: 1425px) {
    .main-line {
        right: 50px;
    }
    .catalogue-list {
        margin-left: 0px;
    }
    
    .main-line {
        right: 120px;
    }
}

@media (max-width: 1400px) {
    .main-line {
        right: 120px;
    }
}

@media (max-width: 1380px) {
    .main-line {
        right: 80px;
    }
    
    .main-line {
        width: 480px;
        height: 480px;
        right: 140px;
    }
    
    .main-line-break-1 {
        bottom: -80px;
    }
    
    .main-line-break-2 {
        bottom: 10px;
        height: 60px;
        right: 80px;
    }
    
    .main-btn-1 {
        right: 435px;
    }
    
    .main-btn-2 {
        right: 472px;
    }
    
    .main-btn-3 {
        right: 445px;
    }
    
    .main-btn-4 {
        right: 330px;
    }
    
    .main-btn-1.active {
        right: 432px;
        top: 80px;
    }
    
    .main-btn-2.active {
        right: 465px;
        top: 195px;
    }
    
    .main-btn-3.active {
        right: 435px;
        top: 315px;
    }
    
    .main-btn-4.active {
        right: 325px;
        top: 425px;
    }
    
    .main-img.first {
        width: 400px;
    }
    
    .main-img.second {
        top: 80px;
        width: 460px;
    }
    
    .main-img.third {
        width: 400px;
    }
    
    .main-img.four {
        top: 80px;
        width: 460px;
    }
    
}

@media (max-width: 1360px) {
    .main-line {
        right: 180px;
    }
    .main-title {
        font-size: 45px;
    }
    .main-subtext {
        width: 400px;
    }
}

@media (max-width: 1315px) {
    .container {
        width: 1180px;
    }
    
    .main-line {
        right: 90px;
    }
    
    .company-img {
        margin-left: 0;
    }
    
    .company-item:nth-child(1n) p {
        width: 400px;
    }
    
    .company-item:nth-child(2n) {
        width: 700px;
    }
    
    .catalogue-list {
        margin-left: 0px;
    }
    
    .brend-list:nth-child(2n) img{
        width: 200px;
        height: 100px;
    }
    
    .brend-link-2-1 {
        width: 100px;
    }
    
    .brend-img-2-1 {
        width: 100px !important;
        display: inline-block;
    }
    
    .swiper-container {
        padding: 50px 0px;
    }
    
    .order .container {
        padding: 60px 0 30px 0;
    }
    
    .order-list {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .order-item {
        width: 180px;
        display: flex;
    }
    
    .questions {
        padding-top: 80px;
    }
    
    .questions-img {
        padding-left: 0;
        margin-left: 0;
        width: 600px;
    }
    
    .contact .container {
        padding-top: 70px;
    }
}

@media (max-width: 1279px) {
    .main-line {
        right: 65px;
    }
    
    .main-title {
        font-size: 40px;
    }
    
    .main-subtext {
        width: 300px;
    }
    
    /* .company-item:nth-child(1n) p {
        width: 400px;
    } */
    
    .company-item:nth-child(2n) {
        width: 600px;
        margin-left: auto;
    }
    
    .catalogue-list {
        column-gap: 80px;
        margin-left: 80px;
    }
    
    .order .order-list{
        width: 700px;
    }
    
    .questions-img {
        width: 650px;
        margin-left: auto !important;
    }
    .questions form {
        width: 295px;
    }
    
    .contact-social {
        justify-content: center;
        margin-top: 40px;
    }
    
    .catalogue-img {
        width: 200px;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1260px) {
    .main {
        overflow: hidden;
    }
    
    .main .container {
        padding-bottom: 180px;
    }
    
    .main-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .main-title {
        width: 100%;
        text-align: center;
    }
    
    .main-title br {
        display: none;
    }
    
    .main-subtext {
        width: 700px;
        text-align: center;
    }
    
    .main-text-side {
        margin-top: 50px;
    }
    
    .main-line {
        right: 0;
        transform: rotate(0);
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        width: 1500px;
        top: -40px;
    }
    
    .main-img.first {
        right: 50%;
        transform: translateX(50%);
    }
    
    .main-img.second {
        right: 50%;
        transform: translateX(50%);
    }
    
    .main-img.third {
        right: 50%;
        transform: translateX(50%);
    }
    
    .main-img.four {
        right: 50%;
        transform: translateX(50%);
    }
    
    .main-btn-1  {
        top: 453px;
        right: 1020px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        transform: rotate(6deg);
        z-index: 1;
    }
    
    .main-btn-1 span {
        margin-left: 0;
        z-index: 1;
    }
    
    .main-btn-1 p {
        margin-top: 5px;
        height: 100px;
        z-index: 1;
    }
    
    .main-btn-1.active {
        top: 447px;
        right: 1005px;
        transform: rotate(6deg);
    }
    
    .main-btn-2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 472px;
        right: 790px;
        transform: rotate(2deg);
    }
    
    .main-btn-2 span {
        margin-left: 0;
    }
    
    .main-btn-2 p {
        margin-top: 5px;
    }
    
    .main-btn-2.active {
        top: 465px;
        right: 772px;
    }
    
    .main-btn-3 {
        top: 472px;
        right: 590px;
        flex-direction: column-reverse;
        transform: rotate(-2deg);
    }
    
    .main-btn-3 span {
        margin-left: 0;
    }
    
    .main-btn-3 p {
        margin-top: 5px;
    }
    
    .main-btn-3.active {
        top: 465px;
        right: 573px;
    }
    
    .main-btn-4 {
        flex-direction: column-reverse;
        transform: rotate(-7deg);
        top: 450px;
        right: 380px;
    }
    
    .main-btn-4 span {
        margin-left: 0;
    }
    
    .main-btn-4 p {
        margin-top: 5px;
    }
    
    .main-btn-4.active {
        top: 445px;
        right: 362px;
    }
    
    .main-line-break-1 {
        display: none;
    }
    
    .main-line-break-2 {
        display: none;
    }
    
    .main-more-btn {
        position: absolute;
        top: 670px;
        transform: translateX(50%);
        right: 50%;
    }
    
    .main-social-links {
        position: absolute;
        top: 730px;
        transform: translateX(50%);
        right: 50%;
        z-index: 1;
    }
    
    .company .container {
        padding-top: 0px;
        margin-top: 0;
    }
    
    .company-title {
        text-align: center;
        width: 100%;
    }
    
    .company-list {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .company-item img {
        width: 670px !important;
    }
    
    .company-item:nth-child(1n) {
        flex-direction: column;
    }
    
    .company-item:nth-child(1n) p {
        flex-direction: column;
        width: 100%;
    }
    
    .company-item:nth-child(1n) br {
        display: none;
    }
    
    .company-text-second {
        display: none !important;
    }
    
    .company-img {
        width: 700px;
    }
    
    .company-item:nth-child(1n) {
        text-align: center;
        margin: 0 auto;
        margin: 0;
        padding: 0;
        display: flex;
        width: 700px;
    }
    
    .company-item:nth-child(2n) {
        padding: 30px 0px;
    }
    
    .company-text {
        text-align: center;
    }
    
    .company-text:nth-child(2n) span {
        margin-left: 0;
    }
    
    .company-text span {
        margin: 0;
    }
    
    .company-text-span-1 {
        margin-left: 50px !important;
    }
    
    .catalogue-title  {
        text-align: center;
        width: 100%;
    }
    
    .why-title {
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
    }
    
    .why-img {
        margin-right: 0px;
    }
    
    .brend-title {
        width: 100%;
        text-align: center;
    }
    
    .brend-list {
        width: 100%;
    }
    
    .brend-list:nth-child(1n) .brend-item:nth-child(2n) img{
        width: 150px;
    }
    
    .brend-list:nth-child(1n) .brend-item:nth-child(3n) img{
        width: 300px;
        height: 100px;
    }
    
    .order-item:nth-child(3)::after {
        transform: rotate(90deg);
    }
    
    .questions {
        padding-top: 20px;
        position: relative;
        overflow-x: hidden;
    }
    
    .contact .container {
        padding: 60px 0px 70px 0px;
    }
    
    .contact-title {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    
}

@media (max-width: 1120px) {
    
    .company-item:nth-child(2n) {
        width: 600px;
    }
    
    .catalogue-list {
        margin-left: 0;
    }
    .swiper-slide {
        width: 100%;
    }
    
    .swiper-container {
        width: 650px !important;
    }
    
    .swiper-wrapper {
        width: 650px !important;
    }
}

@media (max-width: 1030px) {
    .header {
        width: 100%;
        height: 100%;
    }

    .navbar-second {
        z-index: 2;
    }
    
    header .nav {
        display: none;
    }
    
    .nav.blured {
        filter: blur(10px);
        opacity: 0;
    }
    
    .main-text-side.blured {
        filter: blur(10px);
    }
    
    .navbar-second {
        display: flex;
        justify-content: space-between;
    }
    
    .nav-list-second {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 440px;
        position: absolute; 
        left: 0;
        top: 0px;
        transform: translateX(50%);
        background-color: rgba(255, 255, 255, 1); 
        box-shadow: 0px 5px 30px rgba(0,0,0,.1);
        z-index: 1;
        padding: 30px 0px;
        animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
    }
    
    .nav-social-links-second {
        display: flex;
        margin-top: 30px;
    }
    
    .nav-list-second-hr {
        border: none;
        outline: none;
        width: 100%;
        height: 0.1px;
        background-color: #9F9DA1;
        margin-top: 40px;
    }
    
    .nav-item-second {
        border: none;
        margin-bottom: 5px;
        position: relative;
        padding-bottom: 10px;
        transition: 0.3s;
    }
    
    .nav-item-second::after {
        content : "";
        position: absolute;
        left    : 50%;
        bottom  : 0;
        height  : 2px;
        width   : 48px;
        transform: translateX(-50%);
        border-bottom:1px solid #E1E2E5;
    }
    
    .nav-item-second:hover::after {
        width: 100%;
    }
    
    .main .container {
        padding-top: 0;
        padding-bottom: 140px;
    }
    
    .main-title br {
        display: block;
    }
    
    .main-subtext {
        width: 500px;
    }
    
    .main-more-btn {
        top: 730px;
        z-index: 1;
    }
    
    .main-social-links {
        display: none;
    }
    
    .company-text {
        width: 100%;
    }
    
    .company-text span{
        margin-left: 0;
    }
    
    .company-item:nth-child(1n) {
        width: 630px;
    }
    
    .company-item:nth-child(2n) {
        width: 600px;
    }
    
    .catalogue {
        overflow-x: hidden;
    }
    
    .catalogue .container {
        padding-top: 80px;
        padding-bottom: 170px;
    }
    
    .catalogue-slider-line  {
        right: 50%;
        transform: translateX(50%) rotate(-90deg);
        top: 300px;
        height: 1100px;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }

    .catalogue-list {
        margin: 0 auto;
    }
    
    .catalogue-image__btn span {
        margin-left: 0;
    }
    
    .catalogue-image__btn p {
        margin-top: 5px;
    }
    
    .catalogue-btn-0 {
        transform: rotate(95deg);
        flex-direction: column-reverse;
        right: 158px;
        top: 190px;
    }
    
    .catalogue-btn-0.active {
        right: 148px;
        top: 185px;
    }
    
    .catalogue-btn-1 {
        transform: rotate(92deg);
        flex-direction: column-reverse;
        right: 161px;
        top: 320px;
    }
    
    .catalogue-btn-1.active {
        right: 148px;
        top: 312px;
    }
    
    .catalogue-btn-2 {
        transform: rotate(91deg);
        flex-direction: column-reverse;
        right: 168px;
        top: 455px;
    }
    
    .catalogue-btn-2.active {
        right: 152px;
        top: 450px;
    }
    
    .catalogue-btn-3 {
        transform: rotate(89deg);
        flex-direction: column-reverse;
        right: 165px;
        top: 600px;
    }
    
    .catalogue-btn-3.active {
        right: 150px;
        top: 595px;
    }
    
    .catalogue-btn-5 {
        transform: rotate(86deg);
        flex-direction: column-reverse;
        right: 168px;
        top: 735px;
    }
    
    .catalogue-btn-5.active {
        right: 156px;
        top: 730px;
    }
    
    .catalogue-btn-6 {
        transform: rotate(83deg);
        flex-direction: column-reverse;
        right: 174px;
        top: 850px;
    }
    
    .catalogue-btn-6.active {
        right: 168px;
        top: 845px;
    }
    
    .why-separator {
        flex-direction: column;
    }
    
    .why-list {
        margin-left: 0;
    }
    
    .swiper-slide {
        font-size: 18px;
        width: 100px;
    }   
    
    .brend-list {
        width: 100%;
    }
    
    .contact-social {
        flex-direction: column;
    }
    
    .contact-list {
        margin-right: 210px;
    }
    
    .contact-social-links {
        margin-top: 20px;
    }
    
    .contact-map {
        margin-top: 50px;
    }
    
    .questions .container {
        padding-top: 20px;
    }
    
    .questions-img {
        display: none;
    }
}


@media (max-width: 965px) {
    .catalogue-list {
        width: 400px;
        margin-left: 100px;
    }
    
    .swiper-container {
        width: 100% !important;
    }
    
    .main-line {
        top: -70px;
    }
    
    .main-img.first {
        top: 60px;
        width: 400px;
    }
    
    .main-img.second {
        width: 460px;
        top: 80px;
    }
    
    .main-img.third {
        top: 60px;
        width: 400px;
    }
    
    .main-img.four {
        width: 460px;
        top: 80px;
    }
    
    .main-more-btn {
        top: 720px;
    }
    
    .company-item:nth-child(2n) {
        width: 600px !important;
    }
    
    .company-item:nth-child(1n) {
        width: 500px;
    }
    
    .company-text-span-1 {
        margin-left: 30px !important;
    }
    
    .why-img {
        width: 430px;
    }
    
    .catalogue-slider-line  {
        right: 470px;
    }
    
    .catalogue-list {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 930px) {
    .catalogue-slider-line  {
        right: 420px;
    }
}

@media (max-width: 850px) {
    .catalogue-slider-line  {
        right: 380px;
    }
}

@media (max-width: 800px) {
    .catalogue-slider-line  {
        right: 370px;
    }
}

@media (max-width: 760px) {
    .catalogue-list {
        width: 350px;
        margin-left: 0px
    }
    
    nav {
        padding-top: 20px !important;
    }
    
    .main .container {
        padding-bottom: 70px;
    }
    
    .main-btn-1  {
        top: 463px;
        right: 920px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        transform: rotate(4deg);
    }
    
    .main-btn-1.active {
        top: 457px;
        right: 905px;
        transform: rotate(4deg);
    }
    
    .main-btn-2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 472px;
        right: 780px;
        transform: rotate(1deg);
    }
    
    .main-btn-2.active {
        top: 466px;
        right: 762px;
    }
    
    .main-btn-3 {
        top: 472px;
        right: 640px;
        flex-direction: column-reverse;
        transform: rotate(-1deg);
    }
    
    .main-btn-3.active {
        top: 465px;
        right: 624px;
    }
    
    .main-btn-4 {
        flex-direction: column-reverse;
        transform: rotate(-5deg);
        top: 465px;
        right: 501px;
    }
    
    .main-btn-4.active {
        top: 458px;
        right: 485px;
    }
    
    .main-line {
        top: -120px;
    }
    
    .main-img.first {
        width: 350px;
        top: 100px;
    }
    
    .main-img.second {
        width: 410px;
        top: 120px;
    }
    
    .main-img.third {
        width: 350px;
        top: 100px;
    }
    
    .main-img.four {
        width: 410px;
        top: 120px;
    }
    
    .main-more-btn {
        top: 660px;
    }
    
    .catalogue .container {
        padding-bottom: 30px;
    }
    
    .catalogue-list {
        gap: 20px 10px;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
    }
    
    .catalogue-item {
        width: 150px;
    }
    
    .catalogue-text {
        font-size: 15px;
    }
    
    .catalogue-slider-line {
        display: none;
    }
    
    .catalogue-select {
        display: inline-block;
        top: 90px;
        left: 90px;
    }
    
    .swiper-container {
        height: 250px;
    }
    
    .footer-list  {
        flex-wrap: wrap;
        width: 400px;
        justify-content: center;
    }
    
    .footer-list li {
        margin: 5px 20px;
    }   
}

@media (max-width: 720px) {
    .main .container {
        padding-bottom: 50px;
    }
    
    .company-title {
        padding-bottom: 0;
    }
    
    .company-item:nth-child(2n) {
        width: 500px !important;
    }
    
    .company-item:nth-child(1n) {
        width: 500px;
    }
    
    .order .container {
        padding: 60px 0px 20px 0px;
    }
    
    .order-list {
        width: 500px !important;
        padding-top: 30px;
        flex-wrap: wrap;
    }
    
    .order-item {
        height: 150px;
        width: 200px;
    }
    
    .order-item::after {
        display: none;
    }
    
    .order-item:nth-child(1n):after {
        top: 120px;
    }
    
    .order-item::after {
        transform: rotate(90deg) translateY(-50%);
        top: 100px;
        right: 50%;
    }
    
    .order-item:hover:after {
        right: 50%;
        top: 125px;
    }
    
    .order-item:nth-child(5n):after {
        display: none;
    }
    
    .order-item:nth-child(6n):after {
        display: none;
    }
    
    .swiper-container {
        width: 100%;
    }
    
    .catalogue-select {
        left: 60px;
    }
    
}

@media (max-width: 682px) {
    .catalogue-list {
        overflow-y: scroll;
    }       
    
    .catalogue-select {
        left: 40px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 100%;
        padding: 30px 30px;
    }
    
    .main-hidden-image .swiper-slide img:nth-child(1n) {
        width: 300px !important;
        height: 250px !important;
    }
    
    .main-hidden-image .swiper-slide:nth-child(2n) img {
        width: 300px !important;
        height: 290px !important;
        padding-top: 40px;
    }
    
    .main-hidden-image .swiper-slide:nth-child(3n) img {
        padding-top: 55px;
        width: 300px !important;
        height: 250px !important;
    }
    
    .main-hidden-image .swiper-slide:nth-child(4n) img {
        padding-top: 25px;
        padding-left: 40px;
        width: 340px !important;
        height: 250px !important;
    }

    .order .container {
        padding: 40px 0px 0px 0px;
    }
    
    
    .catalogue .container {
        padding-top: 30px;
    }
    
    .catalogue-list {
        flex-wrap: wrap;
        width: 90%;
    }
    
    
    .catalogue-item:hover .catalogue-item-content {
        bottom: 0px;
        left: -5px;
        box-shadow: 0 1px 5px rgba(0,0,0,.1);
    }
    
    .catalogue-select {
        top: 40px;
        left: 70px;
    }
    
    .why-separator {
        flex-direction: column;
    }
    .why-img {
        width: 400px;
    }
    .contact-map iframe {
        width: 450px;
    }
    .footer form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 130px;
    }
    .brend .container {
        padding-top: 50px !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    .swiper-wrapper {
        height: 120px;
    }
    
    .swiper-container {
        height: 210px;
    }
    
    .main-social-links {
        top: 270px;
    }
    .questions-img {
        width: 500px;
        margin: 0 auto;
    }
    
    .swiper-container {
        width: 250px !important;
    }
    
}

@media (max-width: 615px) {
    .nav {
        padding: 0;
    }

    .main-btn-1  {
        top: 467px;
        right: 880px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        transform: rotate(4deg);
    }
    
    .main-btn-1.active {
        top: 460px;
        right: 864px;
        transform: rotate(3deg);
    }
    
    .main-btn-2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 472px;
        right: 760px;
        transform: rotate(1deg);
    }
    
    .main-btn-2.active {
        top: 465px;
        right: 742px;
    }
    
    .main-btn-3 {
        top: 472px;
        right: 640px;
        flex-direction: column-reverse;
        transform: rotate(-1deg);
    }
    
    .main-btn-3.active {
        top: 465px;
        right: 624px;
    }
    
    .main-btn-4 {
        flex-direction: column-reverse;
        transform: rotate(-5deg);
        top: 465px;
        right: 520px;
    }
    
    .main-btn-4.active {
        top: 458px;
        right: 502px;
    }
    
    .company-img {
        width: 100%;
    }
    .why-img {
        width: 300px;
    }
    
    .company-img {
        width: 100%;
    }
    
    .company-item:nth-child(1n) {
        width: 100% !important;
    }
    
    .order-item {
        width: 180px;
    }
    
    .catalogue-order-link  {
        margin-top: 120px;
    }
    
    .catalogue-image__btn {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    
    .catalogue-btn-0 {
        right: 178px;
        top: -20px;
    }
    .catalogue-btn-0.active {
        right: 185px;
        top: -25px;
    }
    .catalogue-btn-1  {
        right: 197px;
        top: 80px;
    }
    .catalogue-btn-1.active  {
        right: 200px;
        top: 80px;
    }
    
    .catalogue-btn-2 {
        right: 205px;
        top: 214px;
    }
    .catalogue-btn-2.active {
        right: 208px;
        top: 210px;
    }
    .catalogue-btn-3 {
        right: 197px;
        top: 330px;
    }
    .catalogue-btn-3.active {
        right: 200px;
        top: 328px;
    }
    .catalogue-btn-5 {
        right: 172px;
        top: 445px;
    }
    .catalogue-btn-5.active {
        right: 175px;
        top: 445px;
    }
    .catalogue-btn-6 {
        right: 152px;
    }
    .catalogue-btn-6.active {
        right: 110px;
        top: 540px;
    }    
    .catalogue-list {
        margin: 0 auto;
    }
    .company-img {
        width: 100% !important;
    }
    .company-item {
        margin: 0 !important;
        width: 100% !important;
    }
    .catalogue-image-text {
        text-align: center;
        position: absolute;
        top: 10px;
        left: 15px;
        transform: translateX(60px);
        -webkit-transform: translateX(60px);
        -moz-transform: translateX(60px);
        -ms-transform: translateX(60px);
        -o-transform: translateX(60px);
    }
    
    .catalogue-image__btn-circle {
        position: absolute;
        bottom: 0px;
        left: 100px;
    }
    
    .contact-list {
        margin-right: 0;
    }

    .contact-social-links {
        padding-top: 10px;
    }
    
    .contact-map {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .catalogue-order-link {
        margin-top: 0;
    }
    
    .catalogue-select {
        top: 40px;
        left: 70px;
    }
    
    .swiper-container {
        width: 100% !important;
    }
    
    .contact-list li:nth-child(4n) {
        margin: 25px auto 0 auto;
    }
}

@media (max-width: 550px) {
    header .container {
        padding-bottom: 0;
    }
    
    .main-subtext {
        width: 100%;
        margin: 0 auto;
    }
    
    .main-img.first {
        width: 300px;
        top: 150px;
    }
    
    .main-img.second {
        width: 360px;
        top: 170px;
    }
    
    .main-img.third {
        width: 300px;   
        top: 150px;
    }
    
    .main-img.four {
        width: 360px;
        top: 170px;
    }

    .catalogue-title {
        margin-bottom: 30px;
    }
    
    .company-item:nth-child(1n) {
        width: 90% !important;
    }
    
    .company-text-span-1 {
        margin-left: 0 !important;
    }
    
    .swiper-container {
        height: 200px;
    }
    
    .questions-img {
        width: 400px;
    }
    
    .catalogue-select {
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .catalogue-select select {
        width: 350px !important;
        padding: 10px 20px;
        margin-left: 10px;
        outline: 2px solid #fabe0a;
    }
    
    .catalogue-list {
        margin-top: 30px;
    }
    
}

@media (max-width: 500px) {
    .main .container {
        padding: 0px 0px 0px 0px !important;
    }
    
    .main-list {
        padding: 0;
        margin: 0;
    }
    
    .main-subtext {
        width: 90%;
    }
    
    .main-line {
        top: -175px;
    }
    
    .main-more-btn {
        top: 550px !important;
    }
    
    .main-img.first {
        width: 250px;
        top: 200px;
    }
    
    .main-img.second {
        width: 300px;
        top: 220px;
    }
    
    .main-img.third {
        width: 250px;
        top: 200px;
    }
    
    .main-img.four {
        width: 300px;
        top: 220px;
    }
    
    .main-more-btn {
        top: 630px;
    }
    
    .main-image__btn.active span {
        width: 12px;
        height: 12px;
        box-shadow: 0px 0px 0px 5px #fabe0aff;
    }
    
    .main-image__btn.active p {
        font-size: 16px;
    }
    
    .main-image__btn p {
        font-size: 14px;
    }
    
    .main-btn-1  {
        top: 469px;
        right: 870px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        transform: rotate(4deg);
    }
    
    .main-btn-1.active {
        top: 465px;
        right: 859px;
        transform: rotate(3deg);
    }
    
    .main-btn-2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 472px;
        right: 765px;
        transform: rotate(1deg);
    }
    
    .main-btn-2.active {
        top: 469px;
        right: 753px;
    }
    
    .main-btn-3 {
        top: 472px;
        right: 655px;
        flex-direction: column-reverse;
        transform: rotate(-1deg);
    }
    
    .main-btn-3.active {
        top: 469px;
        right: 646px;
    }
    
    .main-btn-4 {
        flex-direction: column-reverse;
        transform: rotate(-5deg);
        top: 465px;
        right: 550px;
    }
    
    .main-btn-4.active {
        top: 465px;
        right: 540px;
    }
    
    .main-title {
        width: 100%;
    }
    
    .main-subtext {
        padding: 13px 0px 0px 0px;
    }
    
    .main-more-btn {
        top: 610px;
    }
    
    .company-img {
        padding-bottom: 15px;
    }
    
    .why .container {
        padding: 20px 0px;
        padding-top: 40px;
    }
    .brend-title {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .swiper-container {
        height: 130px;
    }
    
    .swiper-slide {
        height: 50px;
        width: 170px !important;
    }
    
    .main-social-links {
        top: 285px;
    }
    
    .order-list {
        width: 100% !important;
    }
    
    .brend .container {
        padding-top: 25px !important;
    }
    
    .questions-img {
        width: 100%;
    }
    
    .contact .container {
        padding: 10px 0px 35px 0px;
    } 
    
    .contact-social {
        margin-top: 10px;
    }
    
    .catalogue-list {
        width: 100%;
    }
    
}

@media (max-width: 430px) {
    .main-text-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-title {
        width: 350px;
    }

    .navbar-second {
        padding-bottom: 0;
    }

    .main-line {
        border: none;
    }
    
    .main-btn-1  {
        top: 460px;
        right: 50%;
        transform: rotate(0deg) translateX(-50%);
        
    }
    
    .main-btn-1 p {
        height: 34px;
    }
    
    .main-btn-1.active {
        top: 460px;
        right: 49%;
        transform: translateX(-50%);
    }
    
    .main-btn-2 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 460px;
        right: 40%;
        transform: rotate(0deg) translateX(-50%);
    }
    
    .main-btn-2.active {
        top: 460px;
        right: 39%;
        transform: translateX(-50%);
    }
    
    .main-btn-3 {
        top: 530px;
        right: 50%;
        flex-direction: column-reverse;
        transform: rotate(0deg) translateX(-50%);
    }
    
    .main-btn-3.active {
        top: 530px;
        right: 49%;
        transform: translateX(-50%);
    }
    
    .main-btn-4 {
        flex-direction: column-reverse;
        transform: rotate(0deg) translateX(-50%);
        top: 530px;
        right: 40%;
    }
    
    .main-btn-4.active {
        top: 530px;
        right: 39%;
        transform: translateX(-50%);
    }
    
    .main-more-btn {
        margin-top: 110px;
    }

    .order .container {
        padding: 35px 0px 0px 0px;
    }

    .company .container {
        padding-top: 20px;
    }
  
    .company-item {
        width: 100%;
    }
    
    .company-item .company-text:nth-child(2n) {
        display: none;
    }

    .catalogue .container {
        padding-top: 15px;
    }

    .catalogue-select {
        top: 80px;
    }
    
    .catalogue-select select {
        width: 300px !important;
    }
}

@media (max-width: 400px) {
    .main-more-btn{
        margin-top: 130px;
    }

    .company-item {
        width: 100%;
    }
    
    .order-list {
        padding: 0 !important;
        width: 300px !important;
    }
    
    .order-item {
        width: 120px;
        height: 100%;
        display: flex;
        padding: 0 !important;
        margin: 0px 0px 15px 0px !important;
    }
    
    .order-item::after {
        display: none;
        top: 125px !important;
    }
    
    .order-item:hover::after {
        top: 130px;
    }
    
    .order-item .order-text {
        width: 100px;
    }
    
    .order-item:nth-child(1):after {
        top: 150px !important;
    }
    
    .order-item:nth-child(3):after {
        top: 100px !important;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }

    .order-item:nth-child(5)::after {
        display: none;
        top: 100px !important;
        margin-bottom: 0 !important;
    }
    
    .order-item:nth-child(6) {
        margin-bottom: 0;
    }
    
    .order-title {
        padding-bottom: 30px;
    }
    
    .order-img {
        width: 50px;
    }
    
    .swiper-container {
        width: 270px !important;
    }
    
    .swiper-wrapper {
        width: 220px !important;
    }

    .why .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .why-title {
        width: 250px;
    }
    
    .footer ul {
        width: 100%;
    }
    
    .catalogue-item {
        width: 120px;
    }

    .order .container  {
        padding-bottom: 25px;
    }

    .brend-title br {
        display: block;
    }
    
    .catalogue-item p {
        text-align: center;
    }
    
    .catalogue-select select {
        width: 250px !important;
    }
    
}

@media (max-width: 360px) {
    .catalogue .container {
        padding-top: 10px;
    }

    .catalogue-title {
        margin-bottom: 20px;
    }

    .catalogue-select {
        top: 70px;
    }
    
    .catalogue-select select {
        width: 200px !important;
    }

    .catalogue-item:hover .catalogue-item-content {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}

@media (max-width: 280px) {
    .main-more-btn {
        margin-top: 120px;
    }

    .company .container {
        padding-top: 0px;
    }

    .catalogue .container {
        padding-top: 0;
    }

    .catalogue-select {
        top: 60px;
    }

    .order-list {
        flex-direction: column;
        padding: 0 !important;
        width: 300px !important;
    }

    .order-item::after {
        display: block;
    }
    
    .order-item:nth-child(1) {
        margin-top: 20px;
        margin-bottom: 40px !important;
    }
    
    
    .order-item:nth-child(1):after {
        top: 150px !important;
    }
    
    .order-item:nth-child(3) {
        margin-bottom: 0px !important;
    }
    .order-item:nth-child(5) {
        margin-bottom: 0 !important;
    }

    .order-item:nth-child(5)::after {
        display: block;
    }
}